body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: whitesmoke;
}

.container {
  background: #f0f8ff;
  opacity: 0.75;
  margin: 50px 20px 5px 20px;
  padding: 60px 100px 0px 100px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  max-width: 50%;
}

ul {
  list-style: none;
  position: relative;
  left: -30px;
}

#main-temp-display {
  font-size: 40px;
  font-weight: 400;
}

.active {
  color: black;
  text-decoration: none;
}

.active:hover {
  color: black;
  text-decoration: none;
}

#city-name {
  font-size: 30px;
  font-weight: 200;
}

#next-week-weather {
  background: #dcedff;
  text-align: center;
  border-radius: 5px;
  border-top: solid lightgrey 1px;
}

.col-sm {
  padding: 15px;
  transition: all 200ms ease-in-out;
  background: #dcedff;
}

#todays-date {
  font-weight: bolder;
}
.col-sm:hover {
  background: white;
  border-radius: 5px;
}

#celsius {
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: -12px;
}

#celsius:hover {
  cursor: pointer;
}
a:link {
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  font-size: 10px;
  color: #808080;
}

#weather-description {
  text-transform: capitalize;
}

.dark-mode {
  background-color: #003366;
}

.forecast-max {
  color: #5a5a5a;
}
